/* #region UNIVERSAL STYLES */
/* GENERAL STYLES - alphabetical */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre {
    margin:0; 
    padding:0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;

    --color-primary: #252525;
    --color-secondary: #F3ECDF;
    --color-accent: #68A;
    --color-cta: #D55E33;
}

section {
    overflow: hidden;
}

.container {
    margin: auto;
    max-width: 100%;
}

/*.layout {
    
}*/

.full-height {
    height: 100vh;
}

/* #region TEXT STYLES */
a {
    text-decoration: none;
    color: var(--color-cta);
}

button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    color: var(--color-secondary);
}

h1 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 5em;
    line-height: 1.2;
}

h2 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 3em;
    line-height: 1.2;
}

h3 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 2em;
    line-height: 1.2;
}

h4 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 1.2em;
    line-height: 1.2;
}

h5 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 1em;
    line-height: 1.2;
}

h6 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: .8em;
    line-height: 1.2;
}

p {
    font-size: 1em;
    line-height: 1.2;
}

ul {
    list-style-type: none;
}

li {
    color: var(--color-secondary);
    opacity: .5;
}

.label {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* .nav-list {
    display: none;
    color: white;
} */

.work-container {
    position: absolute;
}

.nav-link {
    font-size: 1.75em;
    padding: 20px 0px 20px 0px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.nav-link:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
/* #endregion */

.background-primary {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.background-secondary {
    background-color: var(--color-secondary);
}

.background-accent {
    background-color: var(--color-accent);
}

.background-cta {
    background-color: var(--color-cta);
}

.cursive-header {
    font-family: 'Allura', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}

/*.hero {
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 20px;

    padding-top: 15rem;
    padding-bottom: 15rem;
}*/

.particle-wrapper {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(21deg, var(--chocolate), #81432c 0%, #693b2a 2%, #4c3228 8%, #422f27 14%, var(--dark) 38%, #252525);
    padding: 2rem;
    position: absolute;
    box-shadow: inset 0 2px 20px 12px rgba(0, 0, 0, .2);
}

.style-guide-section-wrapper {
    padding: 20px;
}

.grid {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
}

.swatch-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swatch-color {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.label.swatch {
    margin-top: 20px;
}

.flex-vertical {
    height: 100%;
    display: flex;
    align-items: center;
}

.background-primary.hero {
    /* background: linear-gradient(
        rgba(0, 0, 0, .5),
        rgba(0, 0, 0, .5)
    ),
    url("images/daniel-lake.jpeg"); */
    background-size: cover;
    /*transform: scale(.95);*/
}

.relative {
    position: relative;
}

/*.background-primary.hero:hover {

}*/

/* #endregion */

/* #region DESKTOP STYLES */
@media screen and (min-width: 1140px) {    
    /* section {
        font-size: 16px;
    } */

    .container {
        width: 1140px;
        max-width: 100%;
    }

    .grid {
        max-width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    .swatch-wrapper {
        margin-right: 20px;
        padding: 20px;
    }
}
/* #endregion */

/* #region TABLET STYLES */
@media screen and (min-width: 768px) and (max-width: 1139px) {
    /* section {
        font-size: 12px;
    } */

    .container {
        width: 768px;
        max-width: 100%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .swatch-wrapper {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .swatch-color {
        width: 150px;
        height: 150px;
    }
}
/* #endregion */

/* #region MOBILE STYLES */
@media screen and (min-width: 320px) and (max-width: 767px) {
    /* section {
        font-size: 16px;
    } */

    .container {
        width: 90%;
        max-width: 100%;
    }

    .flexible-even-grid {
        flex-direction: column;
    }
    
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    ul {
        padding: 0px;
    }

    .swatch-wrapper {
        max-width: 300px;
        margin-top: 10px;
        padding: 20px;
    }

    .flex-vertical {
        height: 100%;
        display: block;

    }
}
/* #endregion */

/* #region SMALLER THAN MOBILE */
@media screen and (max-width: 319px) {

}
/* #endregion */